@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    background-color:blanchedalmond;
    height:100vh;
    width: 100vw;
}

header{
    background-color: pink;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1{
    
    flex: 0 0 200px;
}
header > nav{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > nav > a{
     background-color: plum;
     color: white;
     padding: 10px;
     margin: 9px;
     text-decoration: none;
     align-items: flex-end;
}

header > nav > a:hover{
    background-color: aliceblue;
    color: black;
    transition: background-color .5s;
}
main{
    background-color:whitesmoke ;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
    width: 90%;
    margin: auto;
    
}